<section style="text-align:center">
  <h1>
    Welcome to EU4 Calculator!
  </h1>
</section>
<section class="container">
  <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center" class="content">
    <div class="blocks">
      <mat-card class="card">
        <mat-icon class="fa fa-calculator fa-5x"></mat-icon>
        <mat-card-content>
          <p>
            Various handy tools for Europa Universalis 4!
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="blocks">
      <mat-card class="card">
        <mat-icon class="fa fa-wrench fa-5x"></mat-icon>
        <mat-card-content>
          <p>
            Current Tools Include:
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary" routerLink="/leader-pip-calculator"> Leader Pip Calculator</a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="blocks">
      <mat-card class="card">
        <mat-icon class="fa fa-github fa-5x"></mat-icon>
        <mat-card-content>
          <p>
            Contribute, report bugs, make suggestions on GitHub!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://github.com/rockinrimmer/eu4calculator">
            <button mat-raised-button color="accent" >GitHub</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>
