<section style="text-align:center">
  <h1>
    Welcome to EU4 Calculator!
  </h1>
</section>
<section class="container">
  <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center" class="content">
    <div class="blocks">
      <md-card class="card">
        <md-icon class="fa fa-calculator fa-5x"></md-icon>
        <md-card-content>
          <p>
            Various handy tools for Europa Universalis 4!
          </p>
        </md-card-content>
      </md-card>
    </div>
    <div class="blocks">
      <md-card class="card">
        <md-icon class="fa fa-wrench fa-5x"></md-icon>
        <md-card-content>
          <p>
            Current Tools Include:
          </p>
        </md-card-content>
        <md-card-actions>
          <a md-raised-button color="primary" routerLink="/leader-pip-calculator"> Leader Pip Calculator</a>
        </md-card-actions>
      </md-card>
    </div>
    <div class="blocks">
      <md-card class="card">
        <md-icon class="fa fa-github fa-5x"></md-icon>
        <md-card-content>
          <p>
            Contribute, report bugs, make suggestions on GitHub!
          </p>
        </md-card-content>
        <md-card-actions>
          <a href="https://github.com/rockinrimmer/eu4calculator">
            <button md-raised-button color="accent" >GitHub</button>
          </a>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</section>
