<section style="text-align:center">
    <h1>
      Institution Spread Calculator
    </h1>
    <p>
      The Institution Spread Calculator allows you to work out which province you should develop to spawn an institution.
    </p>
  </section>
  <section class="container">
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" class="content">
      <div fxflex class="blocks">
        <institution-output></institution-output>
      </div>
      <div fxflex class="blocks">
        <institution-input></institution-input>
      </div>
    </div>
  </section>
