<header>
  <nav>
    <md-toolbar color="primary">
      <md-icon class="material-icons">menu</md-icon>

      <a md-button routerLink="/"><h1>EU4 Calculator</h1></a>
      <a md-button routerLink="/leader-pip-calculator">Leader Pip Calculator</a>
      <a md-button routerLink="/subject-intergration-calculator">Subject Integration Calculator</a>
      <span class="fill-space"></span>

      <a href="https://github.com/rockinrimmer">
        <button md-raised-button color="accent">
          <md-icon class="fa fa-github fa-2x"></md-icon> GitHub
        </button>
      </a>
    </md-toolbar>
  </nav>
</header>
