<mat-card class="card">
    <mat-card-header>
      <mat-icon mat-card-avatar class="fa fa-wrench fa-3x"></mat-icon>
      <mat-card-title>Options</mat-card-title>
      <mat-card-subtitle>Change these to your current in-game values</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="institutionForm">
        <p>
          <mat-form-field>
            <input matInput placeholder="Province Development" type="text" formControlName="provinceDevelopment" />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input matInput placeholder="Total Development" type="text" formControlName="totalDevelopment" />
          </mat-form-field>
        </p>

        <p>
          <mat-select placeholder="Climate" name="climate">
            <mat-option *ngFor="let climate of CLIMATE" [value]="climate">
              {{climate.name}}
            </mat-option>
          </mat-select>

          <mat-select placeholder="Terrain" name="terrain">
            <mat-option *ngFor="let terrain of TERRAIN" [value]="terrain">
              {{terrain.name}}
            </mat-option>
          </mat-select>
        </p>


        <mat-tab-group>
          <mat-tab label="Province">
            <div *ngFor="let bonus of PROVINCE">
              <mat-checkbox [value]="bonus.name" >{{bonus.name}}</mat-checkbox>
            </div>
          </mat-tab>
          <mat-tab label="Religion">
            <div *ngFor="let bonus of RELIGION">
              <mat-checkbox [value]="bonus.name" >{{bonus.name}}</mat-checkbox>
            </div>
          </mat-tab>
          <mat-tab label="Economic">
            <div *ngFor="let bonus of ECONOMIC">
              <mat-checkbox [value]="bonus.name" >{{bonus.name}}</mat-checkbox>
            </div>
          </mat-tab>
          <mat-tab label="HRE">
            <div *ngFor="let bonus of HRE">
              <mat-checkbox [value]="bonus.name" >{{bonus.name}}</mat-checkbox>
            </div>
          </mat-tab>
          <mat-tab label="Political">
            <div *ngFor="let bonus of POLITICAL">
              <mat-checkbox [value]="bonus.name" >{{bonus.name}}</mat-checkbox>
            </div>
          </mat-tab>
          <mat-tab label="Country">
            <div *ngFor="let bonus of COUNTRY">
              <mat-checkbox [value]="bonus.name" >{{bonus.name}}</mat-checkbox>
            </div>
          </mat-tab>
        </mat-tab-group>
      </form>
    </mat-card-content>
  </mat-card>
