<mat-card class="card">
  <mat-card-header>
    <mat-icon mat-card-avatar class="fa fa-info-circle fa-3x"></mat-icon>
    <mat-card-title>Output</mat-card-title>
    <mat-card-subtitle>Results from the Leader Pip Calculator</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h3>Pips</h3>
    <p>
      Average Pips: <strong>{{avgTotalPips | number : '1.0-1'}}</strong><br/>
      Minimum Pips: <strong>{{minPips | number : '1.0-1'}}</strong><br/>
      Maximum Pips: <strong>{{maxPips | number : '1.0-1'}}</strong>
    </p>
    <app-pip-distribution
      [avgTotalPips]="avgTotalPips"
      [leaderType]="leaderType"
      [pipBonuses]="pipBonuses"
    ></app-pip-distribution>

  </mat-card-content>
</mat-card>
