<section style="text-align:center">
  <h1>
    Leader Pip Calculator
  </h1>
  <p>
    The Leader Pip Calculator allows you to estimate how many pips a General etc will get when you next try to roll one.
  </p>
</section>
<section class="container">
  <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" class="content">
    <div fxflex class="blocks">
      <app-pip-output
        [avgTotalPips]="avgTotalPips"
        [minPips]="minPips"
        [maxPips]="maxPips"
        [leaderType]="leaderType"
        [pipBonuses]="pipBonuses"
      ></app-pip-output>
    </div>
    <div fxflex class="blocks">
      <app-pip-input
        (avgTotalPips)="setAvgTotalPips($event)"
        (leaderType)="setLeaderType($event)"
        (minPips)="setMinPips($event)"
        (maxPips)="setMaxPips($event)"
        (pipBonusesOutput)="setPipBonuses($event)"
      ></app-pip-input>
    </div>
  </div>
</section>
